/*buttons*/
.changeButton {
  background: transparent;
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 0px 8px;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  max-height: 100;
}

.clockContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px;
  width: 100%;
}
